
.bg-effect {
    position: relative;
    overflow: hidden;
}
.bg-effect .bg-ef-1 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    left: -8vw;
    top: -8vw;
    background: #0063ff;
    filter: blur(150px);
    transform: rotate(133.22deg);
    opacity: .25;
}
.bg-effect .bg-ef-3 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    right: -8vw;
    bottom: -8vw;
    background: #f30cff;
    filter: blur(140px);
    opacity: .15;
}
.bg-effect .bg-ef-4 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    left: -15vw;
    bottom: -13vw;
    background: #b75d24;
    filter: blur(140px);
    transform: rotate(-108.02deg);
    opacity: .15;
}
.bg-effect .bg-ef-2 {
    position: absolute;
    width: 20vw;
    height: 20vw;
    right: -8vw;
    top: -8vw;
    background: #ffeb00;
    filter: blur(150px);
    transform: rotate(-108.02deg);
    opacity: .15;
}
.bg-effect .bg-ef-center {
    position: absolute;
    width: 30vw;
    height: 30vw;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
    background: #ffeb00;
    filter: blur(160px);
    border-radius: 50%;
    opacity: .1;
}
@media only screen and (max-width: 425px) {
    .bg-effect .bg-ef-1 {
        transform: rotate(133.22deg) scale(7.5);
    }
    .bg-effect .bg-ef-2 {
        transform: rotate(-108.02deg) scale(6.5);
    }
    .bg-effect .bg-ef-3 {
        transform: scale(3.5);
    }
    .bg-effect .bg-ef-4 {
        transform: rotate(-108.02deg) scale(2.5);
    }
    .bg-effect .bg-ef-center {
        transform: scale(3.5);
    }
}
.main-timeline {
    position: relative
}
.tls {
    position: relative;
    display: inline-block;
}
.tls::before {
    background-color: #aef3ab;
    content: "";
    border-radius: 100px;
    position: absolute;
    width: calc(100% + 20px);
    height: 45%;
    left: -10px;
    bottom: 10px;
    z-index: 1;
    transform: rotate(356deg);
    transition: width 0.35s ease-out, left 0.35s ease-out;
}
.tls:hover::before {
    left: -30px;
    width: calc(100% + 60px);
}
.testimonials-box {
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #0b0b131a;
    padding: 20px;
    border-radius: 16px;
    background: white;
}
.testimonials-box .t-lead {
    width: 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
}
.testimonials-box .t-text {
    -ms-flex: 1;
    flex: 1;
    padding-left: 20px;
}
.testimonials-box p {
    font-size: 17px;
}
.testimonials-box h6 {
    font-size: 15px;
    margin: 0;
}
.testimonials-box span {
    font-size: 12px;
}
.main-timeline:before {
    content: "";
    display: block;
    width: 2px;
    height: 100%;
    background: #c6c6c6;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0
}
.main-timeline .timeline {
    margin-bottom: 40px;
    position: relative
}
.main-timeline .timeline:after {
    content: "";
    display: block;
    clear: both
}
.main-timeline .icon {
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}
.main-timeline .icon:before,
.main-timeline .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.33s ease-out 0s;
    transition: left 0.03s ease;
}
.main-timeline .icon:before {
    background: #fff;
    border: 2px solid #f2b632;
    left: -3px
}
.main-timeline .timeline:nth-child(2n) .icon:before {
    border: 2px solid #d74b4b;
}
.main-timeline .icon:after {
    border: 2px solid #f2b6324f; 
    left: 3px
}
.main-timeline .timeline:nth-child(2n) .icon:after {
    border: 2px solid #fc38385c;
}
.main-timeline .timeline:hover .icon:before {
    left: 3px
}
.main-timeline .timeline:hover .icon:after {
    left: -3px
}
.main-timeline .timeline:nth-child(2n) .icon:before {
    animation: icon-dance-before 1.5s infinite;
}
.main-timeline .timeline:nth-child(2n) .icon:after {
    animation: icon-dance-after 1.5s infinite;
}
.main-timeline .timeline:nth-child(n) .icon:before {
    animation: icon-dance-before 1.5s infinite;
}
.main-timeline .timeline:nth-child(n) .icon:after {
    animation: icon-dance-after 1.5s infinite;
}
/* Stop animation on hover */
.main-timeline .timeline:nth-child(2n):hover .icon:before,
.main-timeline .timeline:nth-child(2n):hover .icon:after {
    animation: none;
}
.main-timeline .timeline:nth-child(n):hover .icon:before,
.main-timeline .timeline:nth-child(n):hover .icon:after {
    animation: none;
}
.main-timeline .date-content {
    width: 50%;
    float: left;
    margin-top: 22px;
    position: relative
}
.main-timeline .date-content:before {
    content: "";
    width: 36.5%;
    height: 2px;
    background: #f2b6324f;
    margin: auto 0;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0
}
.main-timeline .timeline:nth-child(2n) .date-content:before {
    background: #fc38385c;
}
.main-timeline .date-outer {
    width: 125px;
    height: 125px;
    font-size: 16px;
    text-align: center;
    margin: auto;
    z-index: 1
}
.main-timeline .date-outer:before,
.main-timeline .date-outer:after {
    content: "";
    width: 125px;
    height: 125px;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.33s ease-out 0s
}
.main-timeline .date-outer:before {
    background: #fff;
    border: 2px solid #f2b632;
    left: -6px;
    transition: left 0.03s ease;
}
.main-timeline .date-outer:after {
    border: 2px solid #f2b6324f;
    left: 6px;
    transition: left 0.03s ease;
}
/* Styles for every second (even) .date-outer */
.main-timeline .timeline:nth-child(2n) .date-outer:before {
    border: 2px solid #d74b4b;
}
.main-timeline .timeline:nth-child(2n) .date-outer:after {
    border: 2px solid #fc38385c;
}
.main-timeline .timeline:hover .date-outer:before {
    left: 6px
}
.main-timeline .timeline:hover .date-outer:after {
    left: -6px
}
/* Animation for every second (even) .date-outer */
.main-timeline .timeline:nth-child(2n) .date-outer:before {
    animation: dance-before 1.5s infinite;
}
.main-timeline .timeline:nth-child(2n) .date-outer:after {
    animation: dance-after 1.5s infinite;
}
.main-timeline .timeline:nth-child(n) .date-outer:before {
    animation: dance-before 1.5s infinite;
}
.main-timeline .timeline:nth-child(n) .date-outer:after {
    animation: dance-after 1.5s infinite;
}
@keyframes dance-before {
    0% {
        left: -6px;
    }
    50% {
        left: 6px;
    }
    100% {
        left: -6px;
    }
}

@keyframes dance-after {
    0% {
        left: 6px;
    }
    50% {
        left: -6px;
    }
    100% {
        left: 6px;
    }
}
@keyframes icon-dance-before {
    0% {
        left: -3px;
    }
    50% {
        left: 3px;
    }
    100% {
        left: -3px;
    }
}
@keyframes icon-dance-after {
    0% {
        left: 3px;
    }
    50% {
        left: -3px;
    }
    100% {
        left: 3px;
    }
}
/* Stop animation on hover */
.main-timeline .timeline:nth-child(2n):hover .date-outer:before,
.main-timeline .timeline:nth-child(2n):hover .date-outer:after {
    animation: none;
}
.main-timeline .timeline:nth-child(n):hover .date-outer:before,
.main-timeline .timeline:nth-child(n):hover .date-outer:after {
    animation: none;
}
.main-timeline .date {
    width: 100%;
    margin: auto;
    position: absolute;
    top: 27%;
    left: 0
}
.main-timeline .month {
    font-size: 14px;
    font-weight: 700;
    color: #9c9595;
}
.main-timeline .year {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
    line-height: 36px
}
.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 20px 50px;
    float: right
}
.main-timeline .title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}
.main-timeline .description {
    margin-bottom: 0
}
.main-timeline .timeline:nth-child(2n) .date-content {
    float: right
}
.main-timeline .timeline:nth-child(2n) .date-content:before {
    left: 10px
}
.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}
@media only screen and (min-width: 768px) {
    .download_btn_div {
        margin-top: -40px;
    }
}
@media only screen and (max-width: 767.99px) {
    .download_btn_div {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 991px) {
    .main-timeline .date-content {
        margin-top: 35px
    }
    .main-timeline .date-content:before {
        width: 22.5%
    }
    .main-timeline .timeline-content {
        padding: 10px 0 10px 30px
    }
    .main-timeline .title {
        font-size: 17px
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
}
@media only screen and (max-width: 767px) {
    .main-timeline:before {
        margin: 0;
        left: 7px
    }
    .main-timeline .timeline {
        margin-bottom: 20px
    }
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .icon {
        margin: auto 0
    }
    .main-timeline .date-content {
        width: 95%;
        float: right;
        margin-top: 0
    }
    .main-timeline .date-content:before {
        display: none
    }
    .main-timeline .date-outer {
        width: 110px;
        height: 110px
    }
    .main-timeline .date-outer:before,
    .main-timeline .date-outer:after {
        width: 110px;
        height: 110px
    }
    .main-timeline .date {
        top: 30%
    }
    .main-timeline .single_date {
        top: 22% !important;
    }
    .main-timeline .year {
        font-size: 18px;
    }
    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }
    .main-timeline .title {
        margin-bottom: 10px
    }
}
.logo_text{
    font-weight: 600;
    font-size: 30px;
    color: #232223;
    margin-left: -5px;
}
@keyframes border-transform {
    0%, 100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
.imago.animated {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.animated {
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
}
.home-image img {
    -webkit-animation: border-transform 10s linear infinite alternate forwards;
    animation: border-transform 10s linear infinite alternate forwards;
    border-radius: 100%;
    visibility: visible;
    background: #32cff247;
    width: 85%;
}